#contcont, #side1cont {
    position: relative;
}

#head_b {
    width: 1090px;
}

.plus-new {
    position: absolute;
    display: block;
    border-radius: 4px;
    background: #ddd;
    font-size: 12px;
    padding: 5px;
    right: 12px;
    top: 70px;
}

.plus-new:hover {
    text-decoration: none;
    background: #ddd;
}

.plus-csfd, .plus-imdb {
    display: inline-block;
    width: 100%;
    padding: 4px 0;
}

.plus-cell-rating {
    padding: 0 !important;
    text-align: center !important;
    font-weight: 700 !important;
}

.plus-cell-rating a {
    color: #fff !important;
}

.plus-date {
    display: inline-block;
    padding: 5px;
    font-style: italic;
    font-size: 11px;
}

.plus-release {
    vertical-align: sub;
    font-style: italic;
}

.plus-release td {
    height: 16px !important;
}
